{
  "presets": [
    "@babel/preset-react",
    "@babel/typescript",
    ["@babel/preset-env", { "modules": false }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/proposal-class-properties", { "loose": true }],
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", { "modules": "commonjs" }],
        "jest"
      ]
    }
  }
}